<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">
    <!-- http://docs.jboss.org/hibernate/entitymanager/3.6/reference/en/html/configuration.html -->
    <!-- Production -->
    <persistence-unit name="weblibrary-unit" transaction-type="JTA">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <!-- DB connection setup (JavaEE) -->
        <jta-data-source>jdbc/webLibraryDS</jta-data-source>
        <mapping-file>hibernate.cfg.xml</mapping-file>
        <!--<jar-file>MyApp.jar</jar-file>
        <class>org.acme.Employee</class>
        <class>org.acme.Person</class>
        <class>org.acme.Address</class>
        <shared-cache-mode>ENABLE_SELECTIVE</shared-cache-mode>
        <validation-mode>CALLBACK</validation-mode>-->
        <properties>
            <!-- ORM production setup (JavaEE) -->
            <property name="hibernate.dialect"                          value="org.hibernate.dialect.Oracle10gDialect" />
            <property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.SunONETransactionManagerLookup" />
            <property name="hibernate.id.new_generator_mappings"        value="true" />
            <!-- ORM JSR303 activation -->
            <property name="hibernate.validator.autoregister_listeners" value="true" />
            <property name="hibernate.show_sql"                         value="false" />
        </properties>
    </persistence-unit>
</persistence>